version: '3.7'
services:
  app:
    build: acrburger.azurecr.io/bf-api
    container_name: apiburger
    ports:
      - '3001:3001'
    links:
      - 'postgres:postgresburger'
      - 'mongo:mongoburger'
      
  postgres:
    image: acrburger.azurecr.io/bf-sql
    container_name: postgresburger
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'

  mongo:
    image: acrburger.azurecr.io/bf-nosql
    container_name: mongoburger
    ports:
      - '27017:27017'
  
  web:
    image: acrburger.azurecr.io/bf-webserver
    container_name: webserver 
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    links:
      - 'app:apiburger'